<table class="table table-hover tk">
  <thead class="table-success">
    <tr>
      <th>City</th>
      <th>Name</th>
        <th>Wins</th>
        <th>Losses</th>
      <th>Conference</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% teams.each do |team| %>
      <tr>
        <td class="city"><%= team.city %></td>
        <td><%= team.nickname %></td>
        <td><%= team.wins %></td>
        <td><%= team.losses %></td>
        <td class="t1"><%= team.conference %></td>
      </tr>
    <% end %>
  </tbody>
</table>
